<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{factoryBean.id}' />
		<f:event type="preRenderView" listener='#{factoryBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Factory" />

	<ui:define name="header">
		Factory
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty factoryBean.id}'>
				Edit existing Factory
			</c:when>
			<c:otherwise>
				Create a new Factory
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanFactoryName" value="Name:" />
							</div>
							<div class="col-md-9">
								<h:inputText styleClass="form-control"
									id="factoryBeanFactoryName" value="#{factoryBean.factory.name}" />
								<h:message for="factoryBeanFactoryName" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanFactoryPhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-9">
								<h:inputText styleClass="form-control"
									id="factoryBeanFactoryPhoneNumber"
									value="#{factoryBean.factory.phoneNumber}" />
								<h:message for="factoryBeanFactoryPhoneNumber"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanFactoryAddress" value="Address:" />
							</div>
							<div class="col-md-9">
								<h:inputText styleClass="form-control"
									id="factoryBeanFactoryAddress"
									value="#{factoryBean.factory.address}" />
								<h:message for="factoryBeanFactoryAddress" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanFactoryEmail" value="Email:" />
							</div>
							<div class="col-md-9">
								<h:inputText styleClass="form-control"
									id="factoryBeanFactoryEmail"
									value="#{factoryBean.factory.email}" />
								<h:message for="factoryBeanFactoryEmail" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanFactoryContact" value="Contact:" />
							</div>
							<div class="col-md-9">
								<h:inputText styleClass="form-control"
									id="factoryBeanFactoryContact"
									value="#{factoryBean.factory.contact}" />
								<h:message for="factoryBeanFactoryContact" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{factoryBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty factoryBean.id}'>
								<h:link value="Cancel" outcome="view"
									styleClass="btn btn-warning">
									<f:param name="id" value='#{factoryBean.id}' />
								</h:link>
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{factoryBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>
		</h:form>
	</ui:define>

</ui:composition>