<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{factoryBean.page}' />
		<f:event type="preRenderView" listener='#{factoryBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Factories" />

	<ui:define name="header">
		Factory
	</ui:define>

	<ui:define name="subheader">
		Search Factories
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">


			<h:panelGroup styleClass="search">


				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanExampleName" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="factoryBeanExampleName" value="#{factoryBean.example.name}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanExamplePhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="factoryBeanExamplePhoneNumber"
									value="#{factoryBean.example.phoneNumber}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanExampleAddress" value="Address:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="factoryBeanExampleAddress"
									value="#{factoryBean.example.address}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanExampleEmail" value="Email:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="factoryBeanExampleEmail"
									value="#{factoryBean.example.email}" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="factoryBeanExampleContact" value="Contact:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="factoryBeanExampleContact"
									value="#{factoryBean.example.contact}" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{factoryBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{factoryBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<h:dataTable id="factoryBeanPageItems" styleClass="data-table"
				value="#{factoryBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/factory/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Phone Number" />
					</f:facet>
					<h:link outcome="/factory/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPhoneNumber" value="#{_item.phoneNumber}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Address" />
					</f:facet>
					<h:link outcome="/factory/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemAddress" value="#{_item.address}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Email" />
					</f:facet>
					<h:link outcome="/factory/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemEmail" value="#{_item.email}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Contact" />
					</f:facet>
					<h:link outcome="/factory/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemContact" value="#{_item.contact}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{factoryBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
