<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{factoryBean.id}'/>
		<f:event type="preRenderView" listener='#{factoryBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Factory"/>

	<ui:define name="header">
		Factory
	</ui:define>

	<ui:define name="subheader">
		View existing Factory
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="factoryBeanFactoryName" value="Name:"/>
			<h:outputText id="factoryBeanFactoryName" value="#{factoryBean.factory.name}"/>
			<h:outputText/>
			<h:outputLabel for="factoryBeanFactoryPhoneNumber" value="Phone Number:"/>
			<h:outputText id="factoryBeanFactoryPhoneNumber" value="#{factoryBean.factory.phoneNumber}"/>
			<h:outputText/>
			<h:outputLabel for="factoryBeanFactoryAddress" value="Address:"/>
			<h:outputText id="factoryBeanFactoryAddress" value="#{factoryBean.factory.address}"/>
			<h:outputText/>
			<h:outputLabel for="factoryBeanFactoryEmail" value="Email:"/>
			<h:outputText id="factoryBeanFactoryEmail" value="#{factoryBean.factory.email}"/>
			<h:outputText/>
			<h:outputLabel for="factoryBeanFactoryContact" value="Contact:"/>
			<h:outputText id="factoryBeanFactoryContact" value="#{factoryBean.factory.contact}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>