<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{sellingCardBean.id}' />
		<f:event type="preRenderView" listener='#{sellingCardBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Selling Card" />

	<ui:define name="header">
		Selling Card
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty sellingCardBean.id}'>
				Edit existing Selling Card
			</c:when>
			<c:otherwise>
				Create a new Selling Card
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="create">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:messages globalOnly="true" styleClass="error" />


			<div class="col-md-9">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="sellingCardBeanSellingCardBuyer" value="Buyer:" />
							</div>
							<div class="col-md-9">
								<p:selectOneMenu id="sellingCardBeanSellingCardBuyer"
									value="#{sellingCardBean.sellingCard.buyer}" filter="true"
									filterMatchMode="contains" converter="#{buyerConverter}">
									<f:selectItem />
									<f:selectItems value="#{buyerBean.all}" var="buyer"
										itemValue="#{buyer}" itemLabel="#{buyer.display()}" />
								</p:selectOneMenu>
								<h:message for="sellingCardBeanSellingCardBuyer"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="sellingCardBeanSellingCardSellingDate"
									value="Selling Date:" />
							</div>
							<div class="col-md-9">
								<p:calendar id="sellingCardBeanSellingCardSellingDate"
									value="#{sellingCardBean.sellingCard.sellingDate}"
									pattern="dd-MM-yyyy" />
								<h:message for="sellingCardBeanSellingCardSellingDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="sellingCardBeanSellingCardSellingPrice"
									value="Selling Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="sellingCardBeanSellingCardSellingPrice"
									inputStyleClass="form-control"
									value="#{sellingCardBean.sellingPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" disabled="true" />
								<h:message for="sellingCardBeanSellingCardSellingPrice"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="sellingCardBeanSellingCardDiscountPrice"
									value="Discount Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="sellingCardBeanSellingCardDiscountPrice"
									inputStyleClass="form-control"
									value="#{sellingCardBean.discountPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" disabled="true" />
								<h:message for="sellingCardBeanSellingCardDiscountPrice"
									styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-12">
				<div class="row">

					<p:pickList id="ItemsList"
						value="#{sellingCardBean.itemsListModel}" var="item"
						itemValue="#{item}" itemLabel="#{item.display()}"
						showSourceControls="true" showTargetControls="true"
						showCheckbox="true" responsive="true" showSourceFilter="true"
						showTargetFilter="true" filterMatchMode="contains"
						converter="#{itemConverter}">

						<f:facet name="sourceCaption">Available</f:facet>
						<f:facet name="targetCaption">Cart</f:facet>


						<p:ajax event="transfer" listener="#{sellingCardBean.onTransfer}"
							update="sellingCardBeanSellingCardSellingPrice sellingCardBeanSellingCardDiscountPrice" />

					</p:pickList>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{sellingCardBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty sellingCardBean.id}'>
								<h:link value="Cancel" outcome="view"
									styleClass="btn btn-warning">
									<f:param name="id" value='#{sellingCardBean.id}' />
								</h:link>

								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{sellingCardBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>


		</h:form>
	</ui:define>

</ui:composition>