<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="page" value='#{sellingCardBean.page}' />
		<f:event type="preRenderView" listener='#{sellingCardBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Selling Cards" />

	<ui:define name="header">
		Selling Card
	</ui:define>

	<ui:define name="subheader">
		Search Selling Cards 
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />
			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="sellingCardBeanExampleSellingDate"
									styleClass="control-label" value="Selling Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="sellingCardBeanExampleSellingDate"
									value="#{sellingCardBean.example.sellingDate}"
									pattern="dd-MM-yyyy" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="sellingCardBeanExampleBuyer"
									styleClass="control-label" value="Buyer:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="sellingCardBeanExampleBuyer"
									value="#{sellingCardBean.example.buyer}" filter="contains"
									filterMatchMode="contains" converter="#{buyerConverter}">
									<f:selectItem />
									<f:selectItems value="#{buyerBean.all}" var="buyer"
										itemLabel="#{buyer.display()}" itemValue="#{buyer}" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="sellingCardBeanExampleItem"
									styleClass="control-label" value="Item:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="sellingCardBeanExampleItem"
									value="#{sellingCardBean.searchedItem}" filter="contains"
									filterMatchMode="contains" converter="#{itemConverter}">
									<f:selectItem />
									<f:selectItems value="#{itemBean.allSoldItems}" var="item"
										itemLabel="#{item.display()}" itemValue="#{item}" />
								</p:selectOneMenu>
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{billBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{billBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>

			</h:panelGroup>

			<h:dataTable id="sellingCardBeanPageItems" styleClass="data-table"
				value="#{sellingCardBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Selling Date" />
					</f:facet>
					<h:link outcome="/sellingCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemSellingDate" value="#{_item.sellingDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Selling Price" />
					</f:facet>
					<h:link outcome="/sellingCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemSellingPrice" value="#{_item.sellingPrice}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Discount Price" />
					</f:facet>
					<h:link outcome="/sellingCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDiscountPrice"
							value="#{_item.discountPrice}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Buyer" />
					</f:facet>
					<h:link outcome="/sellingCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemBuyer" value="#{_item.buyer.display()}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{sellingCardBean}' />
			</ui:include>

			<h:outputScript name="js/calendar.js" />
			<h:outputScript name="js/selectOneMenu.js" />
		</h:form>

	</ui:define>

</ui:composition>
