<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{sellingCardBean.id}'/>
		<f:event type="preRenderView" listener='#{sellingCardBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Selling Card"/>

	<ui:define name="header">
		Selling Card
	</ui:define>

	<ui:define name="subheader">
		View existing Selling Card
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="sellingCardBeanSellingCardSellingDate" value="Selling Date:"/>
			<h:outputText id="sellingCardBeanSellingCardSellingDate" value="#{sellingCardBean.sellingCard.sellingDate}">
				<f:convertDateTime type="date"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="sellingCardBeanSellingCardSellingPrice" value="Selling Price:"/>
			<h:outputText id="sellingCardBeanSellingCardSellingPrice" value="#{sellingCardBean.sellingCard.sellingPrice}"/>
			<h:outputText/>
			<h:outputLabel for="sellingCardBeanSellingCardDiscountPrice" value="Discount Price:"/>
			<h:outputText id="sellingCardBeanSellingCardDiscountPrice" value="#{sellingCardBean.sellingCard.discountPrice}"/>
			<h:outputText/>
			<h:outputLabel for="sellingCardBeanSellingCardItems" value="Items:"/>
			<h:dataTable id="sellingCardBeanSellingCardItems" styleClass="data-table" value="#{forgeview:asList(sellingCardBean.sellingCard.items)}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Barcode"/>
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="_itemBarcode" value="#{_item.barcode}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Types"/>
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="_itemTypes" value="#{_item.types}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Actual Price"/>
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="_itemActualPrice" value="#{_item.actualPrice}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Selling Price"/>
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="_itemSellingPrice" value="#{_item.sellingPrice}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Discount Price"/>
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="_itemDiscountPrice" value="#{_item.discountPrice}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<h:outputText/>
			<h:outputLabel for="sellingCardBeanSellingCardBuyer" value="Buyer:"/>
			<h:link id="sellingCardBeanSellingCardBuyer" outcome="/buyer/view" rendered="#{!empty sellingCardBean.sellingCard.buyer}" value="#{sellingCardBean.sellingCard.buyer}">
				<f:param name="id" value="#{sellingCardBean.sellingCard.buyer.id}"/>
			</h:link>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>