<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<ui:param name="pageTitle" value="Settings" />

	<ui:define name="header">
		Settings
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.css"></link>

		<h:form id="settings" prependId="false">
			<p:growl id="msg" showDetail="false" />

			<div class="col-md-12">
				<div class="row">
					<div class="form-group">
						<div class="col-md-2">
							<h:outputLabel styleClass="control-label" for="types"
								value="Types:" />
						</div>
						<div class="col-md-10">
							<h:inputText id="types" styleClass="types form-control"
								value="#{settingsController.types.value}" />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{settingsController.save()}'
							styleClass="btn btn-success">
							<f:ajax execute="@form" render=":msg" />
						</h:commandLink>
					</div>
				</div>
			</div>

		</h:form>

		<script type="text/javascript"
			src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
		<h:outputScript name="pages/js/initSettings.js" />

	</ui:define>


</ui:composition>