<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{billBean.id}' />
		<f:event type="preRenderView" listener='#{billBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Bill" />

	<ui:define name="header">
		Bill
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty billBean.id}'>
				Edit existing Bill
			</c:when>
			<c:otherwise>
				Create a new Bill
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">


		<h:form id="create">

			<link rel="stylesheet" type="text/css"
				href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
			<link rel="stylesheet" type="text/css"
				href="../resources/plugins/selectize/css/selectize.css"></link>

			<h:outputStylesheet name="css/attachment.css" />
			<h:outputStylesheet name="css/selectOneMenu.css" />
			<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="billBeanBillFactory" value="Factory:" />
							</div>
							<div class="col-md-9">
								<p:selectOneMenu id="billBeanBillFactory"
									value="#{billBean.bill.factory}" filter="true"
									filterMatchMode="contains" converter="#{factoryConverter}">
									<f:selectItem />
									<f:selectItems value="#{factoryBean.all}" var="factory"
										itemValue="#{factory}" itemLabel="#{factory.display()}" />
								</p:selectOneMenu>
								<h:message for="billBeanBillFactory" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="billBeanBillPurchaseDate" value="Purchase Date:" />
							</div>
							<div class="col-md-9">
								<p:calendar id="billBeanBillPurchaseDate"
									value="#{billBean.bill.purchaseDate}" pattern="dd-MM-yyyy" />
								<h:message for="billBeanBillPurchaseDate" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="billBeanBillTotalPrice" value="Total Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="billBeanBillTotalPrice"
									inputStyleClass="form-control"
									value="#{billBean.bill.totalPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
								<h:message for="billBeanBillTotalPrice" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<h:panelGroup rendered="#{!empty billBean.id}">

				<div class="col-md-12">
					<p:separator />
				</div>

				<div class="col-md-12">

					<p:dataTable id="itemsDataTable" widgetVar="itemVar" rows="5"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
						paginatorPosition="bottom" value="#{billBean.billItems}"
						var="item" rowKey="#{item.id}" rowIndexVar="index" editable="true"
						editMode="cell">

						<f:facet name="header">
							<h:outputText value="Items" styleClass="attachmentHeaderText" />

							<h:commandLink onclick="PF('newItemDialogVar').show()"
								styleClass="btn btn-primary white attachmentHeaderButton"
								action="#{billBean.createNewItem()}">
								<f:ajax />
								<i class="fa fa-plus white" />
							</h:commandLink>

						</f:facet>

						<p:column id="index" width="50">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>


						<p:column id="barcode" headerText="Barcode"
							filterMatchMode="contains" filterBy="#{item.barcode}"
							sortBy="#{item.barcode}" width="100">
							<h:outputText value="#{item.barcode}" title="#{item.barcode}" />
						</p:column>

						<p:column id="color" headerText="Color" filterMatchMode="contains"
							filterBy="#{item.color}" sortBy="#{item.color}" width="100">
							<h:outputText value="#{item.color}" title="#{item.color}" />
						</p:column>

						<p:column id="shape" headerText="Shape" filterMatchMode="contains"
							filterBy="#{item.shape}" sortBy="#{item.shape}" width="100">
							<h:outputText value="#{item.shape}" title="#{item.shape}" />
						</p:column>

						<p:column id="location" headerText="Stock Location"
							filterMatchMode="contains" filterBy="#{item.stockLocation}"
							sortBy="#{item.stockLocation}" width="100">
							<h:outputText value="#{item.stockLocation}"
								title="#{item.stockLocation}" />
						</p:column>

						<p:column id="types" headerText="Types" filterMatchMode="contains"
							filterBy="#{item.types}" sortBy="#{item.types}" width="100">
							<h:outputText value="#{item.types}" title="#{item.types}" />
						</p:column>

						<p:column id="actualPrice" headerText="Actual Price"
							filterMatchMode="contains" filterBy="#{item.actualPrice}"
							sortBy="#{item.actualPrice}" width="100">
							<h:outputText value="#{item.actualPrice}"
								title="#{item.actualPrice}" />
						</p:column>

						<p:column id="sellingPrice" headerText="Selling Price"
							filterMatchMode="contains" filterBy="#{item.sellingPrice}"
							sortBy="#{item.sellingPrice}" width="100">
							<h:outputText value="#{item.sellingPrice}"
								title="#{item.sellingPrice}" />
						</p:column>

						<p:column id="discountPrice" headerText="DiscountPrice"
							filterMatchMode="contains" filterBy="#{item.discountPrice}"
							sortBy="#{item.discountPrice}" width="100">
							<h:outputText value="#{item.discountPrice}"
								title="#{item.discountPrice}" />
						</p:column>

						<p:column id="retailPrice" headerText="retailPrice"
							filterMatchMode="contains" filterBy="#{item.retailPrice}"
							sortBy="#{item.retailPrice}" width="100">
							<h:outputText value="#{item.retailPrice}"
								title="#{item.retailPrice}" />
						</p:column>


					</p:dataTable>

				</div>

				<div class="col-md-12">
					<p:separator />
				</div>

				<div class="col-md-12">

					<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
						rows="5" paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
						paginatorPosition="bottom"
						value="#{billBean.bill.billAttachments}" var="attachment"
						rowKey="#{attachment.id}" rowIndexVar="index" editable="true"
						editMode="cell">

						<f:facet name="header">

							<h:outputText value="Attachments"
								styleClass="attachmentHeaderText" />

							<p:fileUpload widgetVar="fileUploadVar" multiple="true"
								auto="true" styleClass="fileUploader hide"
								fileUploadListener="#{billBean.handleFileUpload}"
								process="@this" update="attachmentsDataTable" />

							<h:commandLink onclick="$('.fileUploader input').click()"
								styleClass="btn btn-primary white attachmentHeaderButton">
								<f:ajax />
								<i class="fa fa-plus white" />
							</h:commandLink>

						</f:facet>

						<p:column id="index" width="50">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column id="actions" width="50">
							<h:commandLink styleClass="btn btn-sm btn-danger white"
								action="#{billBean.selectForDelete(attachment)}"
								onclick="PF('deleteAttachmentDialogVar').show()">
								<i class="fa fa-trash white" />
								<f:ajax />
							</h:commandLink>
						</p:column>

						<p:column id="attachmentName" headerText="Name"
							filterMatchMode="contains" filterBy="#{attachment.fileName}"
							sortBy="#{attachment.fileName}"
							styleClass="attachmentName-column" width="">
							<h:outputText value="#{attachment.fileName}"
								title="#{attachment.fileName}" />
						</p:column>

						<p:column id="attachmentSize" headerText="Size"
							sortBy="#{attachment.size}" style="text-align: center">
							<h:outputText value="#{attachment.sizeInMegaByte}"
								title="#{attachment.sizeInMegaByte}" />
						</p:column>

						<p:column id="description" headerText="Description"
							filterMatchMode="contains" filterBy="#{attachment.description}"
							sortBy="#{attachment.description}"
							styleClass="attachmentDescription-column">
							<h:inputText value="#{attachment.description}"
								styleClass="form-control" />
						</p:column>

						<p:column id="notes" headerText="Notes" filterMatchMode="contains"
							filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
							styleClass="attachmentNotes-column">
							<h:inputText value="#{attachment.notes}"
								styleClass="form-control" />
						</p:column>

						<p:column width="50">
							<h:commandLink action="#{billBean.download(attachment)}"
								styleClass="btn btn-sm btn-primary">
								<i class="fa fa-download white" />
							</h:commandLink>

						</p:column>

					</p:dataTable>

				</div>
			</h:panelGroup>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{billBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty billBean.id}'>
								<h:link value="Cancel" outcome="view"
									styleClass="btn btn-warning">
									<f:param name="id" value='#{billBean.id}' />
								</h:link>

								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<p:dialog id="deleteAttachmentDialog" draggable="false"
				closable="false" modal="true" height="50" width="330"
				resizable="false" widgetVar="deleteAttachmentDialogVar">

				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{billBean.deleteAttachment()}"
					onclick="PF('deleteAttachmentDialogVar').hide()"
					styleClass="btn btn-sm btn-danger popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-sm btn-warning popup-buttons"
					onclick="PF('deleteAttachmentDialogVar').hide()">
					<f:ajax />
				</h:commandLink>
			</p:dialog>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{billBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>

			<p:dialog id="newItemDialog" draggable="false" closable="false"
				modal="true" width="700" resizable="false"
				widgetVar="newItemDialogVar" onShow="initTypes()">

				<div class="col-md-12">
					<div class="row">

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanBillBarcode" value="Barcode:" />
								</div>
								<div class="col-md-9">
									<h:inputText id="itemBeanBillBarcode"
										value="#{billBean.newItem.barcode}" styleClass="form-control" />
									<h:message for="itemBeanBillBarcode" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanBillColor" value="Color:" />
								</div>
								<div class="col-md-9">
									<h:inputText id="itemBeanBillColor"
										value="#{billBean.newItem.color}" styleClass="form-control" />
									<h:message for="itemBeanBillColor" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanBillShape" value="Shape:" />
								</div>
								<div class="col-md-9">
									<h:inputText id="itemBeanBillShape"
										value="#{billBean.newItem.shape}" styleClass="form-control" />
									<h:message for="itemBeanBillShape" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanBillStockLocation" value="Location:" />
								</div>
								<div class="col-md-9">
									<h:inputText id="itemBeanBillStockLocation"
										value="#{billBean.newItem.stockLocation}"
										styleClass="form-control" />
									<h:message for="itemBeanBillStockLocation" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanItemTypes" value="Types:" />
								</div>
								<div class="col-md-9">
									<h:inputText id="itemBeanItemTypes"
										styleClass="itemBeanItemTypes"
										value="#{billBean.newItem.types}" />
									<h:message for="itemBeanItemTypes" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanItemActualPrice" value="Actual Price:" />
								</div>
								<div class="col-md-9">
									<p:inputNumber id="itemBeanItemActualPrice"
										inputStyleClass="form-control"
										value="#{billBean.newItem.actualPrice}" styleClass="money"
										symbol="$" symbolPosition="s" decimalSeparator="."
										thousandSeparator="," minValue="0" />
									<h:message for="itemBeanItemActualPrice" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanItemSellingPrice" value="Selling Price:" />
								</div>
								<div class="col-md-9">
									<p:inputNumber id="itemBeanItemSellingPrice"
										inputStyleClass="form-control"
										value="#{billBean.newItem.sellingPrice}" styleClass="money"
										symbol="$" symbolPosition="s" decimalSeparator="."
										thousandSeparator="," minValue="0" />
									<h:message for="itemBeanItemSellingPrice" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanItemDiscountPrice" value="Discount Price:" />
								</div>
								<div class="col-md-9">
									<p:inputNumber id="itemBeanItemDiscountPrice"
										inputStyleClass="form-control"
										value="#{billBean.newItem.discountPrice}" styleClass="money"
										symbol="$" symbolPosition="s" decimalSeparator="."
										thousandSeparator="," minValue="0" />
									<h:message for="itemBeanItemDiscountPrice" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanItemRetailPrice" value="Retail Price:" />
								</div>
								<div class="col-md-9">
									<p:inputNumber id="itemBeanItemRetailPrice"
										inputStyleClass="form-control"
										value="#{billBean.newItem.retailPrice}" styleClass="money"
										symbol="$" symbolPosition="s" decimalSeparator="."
										thousandSeparator="," minValue="0" />
									<h:message for="itemBeanItemRetailPrice" styleClass="error" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<div class="col-md-3">
									<h:outputLabel styleClass="control-label"
										for="itemBeanBillFactory" value="Factory:" />
								</div>
								<div class="col-md-9">
									<p:selectOneMenu id="itemBeanBillFactory"
										value="#{billBean.newItem.factory}" filter="true"
										filterMatchMode="contains" converter="#{factoryConverter}">
										<f:selectItem />
										<f:selectItems value="#{factoryBean.all}" var="factory"
											itemValue="#{factory}" itemLabel="#{factory.display()}" />
									</p:selectOneMenu>
									<h:message for="itemBeanBillFactory" styleClass="error" />
								</div>
							</div>
						</div>

					</div>
				</div>

				<h:commandLink action="#{billBean.saveNewItem()}"
					styleClass="btn btn-success popup-buttons"
					onclick="PF('newItemDialogVar').hide()">
					<h:outputText value="Save" />
					<f:ajax execute="newItemDialog" render="itemsDataTable" />
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('newItemDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>


			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
			<h:outputScript library="pages" name="js/bill.js" />

		</h:form>
	</ui:define>

</ui:composition>