<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="page" value='#{billBean.page}' />
		<f:event type="preRenderView" listener='#{billBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Bills" />

	<ui:define name="header">
		Bill
	</ui:define>

	<ui:define name="subheader">
		Search Bills
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />
			<h:panelGroup styleClass="search">


				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="billBeanExampleFactory"
									styleClass="control-label" value="Factory:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="billBeanExampleFactory"
									value="#{billBean.example.factory}" filter="contains"
									filterMatchMode="contains" converter="#{factoryConverter}">
									<f:selectItem />
									<f:selectItems value="#{factoryBean.all}" var="factory"
										itemLabel="#{factory.display()}" itemValue="#{factory}" />
								</p:selectOneMenu>
								<h:message for="billBeanExampleFactory" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="billBeanExamplePurchaseDate"
									styleClass="control-label" value="Purchase Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="billBeanExamplePurchaseDate"
									value="#{billBean.example.purchaseDate}" pattern="dd-MM-yyyy" />
								<h:message for="billBeanExamplePurchaseDate" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="billBeanExampleTotalPrice"
									styleClass="control-label" value="Total Price:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="billBeanExampleTotalPrice"
									styleClass="form-control"
									value="#{billBean.example.totalPrice}" />
								<h:message for="billBeanExampleTotalPrice" styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{billBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{billBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<h:dataTable id="billBeanPageItems" styleClass="data-table"
				value="#{billBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Factory" />
					</f:facet>
					<h:link outcome="/bill/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText value="#{_item.factory.display()}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Purchase Date" />
					</f:facet>
					<h:link outcome="/bill/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText value="#{_item.purchaseDate}">
							<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Total Price" />
					</f:facet>
					<h:link outcome="/bill/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText value="#{_item.totalPrice}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{billBean}' />
			</ui:include>

			<h:outputScript name="js/calendar.js" />
			<h:outputScript name="js/selectOneMenu.js" />

		</h:form>

	</ui:define>

</ui:composition>
