<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{billBean.id}'/>
		<f:event type="preRenderView" listener='#{billBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Bill"/>

	<ui:define name="header">
		Bill
	</ui:define>

	<ui:define name="subheader">
		View existing Bill
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="billBeanBillFactory" value="Factory:"/>
			<h:link id="billBeanBillFactory" outcome="/factory/view" rendered="#{!empty billBean.bill.factory}" value="#{billBean.bill.factory}">
				<f:param name="id" value="#{billBean.bill.factory.id}"/>
			</h:link>
			<h:outputText/>
			<h:outputLabel for="billBeanBillPurchaseDate" value="Purchase Date:"/>
			<h:outputText id="billBeanBillPurchaseDate" value="#{billBean.bill.purchaseDate}">
				<f:convertDateTime type="date"/>
			</h:outputText>
			<h:outputText/>
			<h:outputLabel for="billBeanBillTotalPrice" value="Total Price:"/>
			<h:outputText id="billBeanBillTotalPrice" value="#{billBean.bill.totalPrice}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>