<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{itemBean.id}' />
		<f:event type="preRenderView" listener='#{itemBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Item" />

	<ui:define name="header">
		Item
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty itemBean.id}'>
				Edit existing Item
			</c:when>
			<c:otherwise>
				Create a new Item
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.css"></link>

		<h:outputStylesheet name="css/attachment.css" />
		<h:outputStylesheet name="css/selectOneMenu.css" />
		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

		<h:form id="create" prependId="false">
			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label" for="itemBeanItemBill"
									value="Bill:" />
							</div>
							<div class="col-md-9">
								<p:selectOneMenu id="itemBeanItemBill"
									value="#{itemBean.item.bill}" filter="true"
									filterMatchMode="contains" converter="#{billConverter}">
									<f:selectItem />
									<f:selectItems value="#{billBean.all}" var="bill"
										itemValue="#{bill}" itemLabel="#{bill.display()}" />

									<p:ajax update="@form" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemBill" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanBillBarcode" value="Barcode:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="itemBeanBillBarcode"
									value="#{itemBean.item.barcode}" styleClass="form-control"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanBillBarcode" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanBillColor" value="Color:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="itemBeanBillColor"
									value="#{itemBean.item.color}" styleClass="form-control"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanBillColor" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanBillShape" value="Shape:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="itemBeanBillShape"
									value="#{itemBean.item.shape}" styleClass="form-control"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanBillShape" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanBillStockLocation" value="Location:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="itemBeanBillStockLocation"
									value="#{itemBean.item.stockLocation}"
									styleClass="form-control"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanBillStockLocation" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemTypes" value="Types:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="itemBeanItemTypes"
									styleClass="itemBeanItemTypes" value="#{itemBean.item.types}"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanItemTypes" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemActualPrice" value="Actual Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="itemBeanItemActualPrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.actualPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanItemActualPrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemSellingPrice" value="Selling Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="itemBeanItemSellingPrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.sellingPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanItemSellingPrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemDiscountPrice" value="Discount Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="itemBeanItemDiscountPrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.discountPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanItemDiscountPrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemRetailPrice" value="Retail Price:" />
							</div>
							<div class="col-md-9">
								<p:inputNumber id="itemBeanItemRetailPrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.retailPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0"
									disabled="#{itemBean.item.bill == null}" />
								<h:message for="itemBeanItemRetailPrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanBillFactory" value="Factory:" />
							</div>
							<div class="col-md-9">
								<p:selectOneMenu id="itemBeanBillFactory"
									value="#{itemBean.item.factory}" filter="true"
									filterMatchMode="contains" converter="#{factoryConverter}"
									disabled="#{itemBean.item.bill == null}">
									<f:selectItem />
									<f:selectItems value="#{factoryBean.all}" var="factory"
										itemValue="#{factory}" itemLabel="#{factory.display()}" />
								</p:selectOneMenu>
								<h:message for="itemBeanBillFactory" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemState" value="State:" />
							</div>
							<div class="col-md-9">
								<p:selectOneMenu id="itemBeanItemState"
									value="#{itemBean.item.itemState}"
									disabled="#{itemBean.item.locked() || itemBean.item.bill == null}">
									<f:selectItem itemLabel="Available" itemValue="Available" />
									<f:selectItem itemLabel="Not Available"
										itemValue="Not_Available" />
									<f:selectItem itemLabel="Damaged" itemValue="Damaged" />
									<f:selectItem itemLabel="Under Maintenance"
										itemValue="Maintenance" />
									<f:selectItem itemLabel="Sold" itemValue="Sold"
										itemDisabled="true" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemState" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<h:panelGroup rendered="#{!empty itemBean.id}">

				<div class="col-md-6">

					<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
						rows="5" paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
						paginatorPosition="bottom"
						value="#{itemBean.item.itemAttachments}" var="attachment"
						rowKey="#{attachment.id}" rowIndexVar="index" editable="true"
						editMode="cell">

						<f:facet name="header">

							<h:outputText value="Attachments"
								styleClass="attachmentHeaderText" />

							<p:fileUpload widgetVar="fileUploadVar" multiple="true"
								auto="true" styleClass="fileUploader hide"
								fileUploadListener="#{itemBean.handleFileUpload}"
								process="@this" update="attachmentsDataTable"
								disabled="#{itemBean.item.bill == null}" />

							<h:commandLink onclick="$('.fileUploader input').click()"
								styleClass="btn btn-primary white attachmentHeaderButton"
								rendered="#{itemBean.item.bill != null}">
								<f:ajax />
								<i class="fa fa-plus white" />
							</h:commandLink>

						</f:facet>

						<p:column id="index" width="50">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column id="actions" width="50">
							<h:commandLink styleClass="btn btn-sm btn-danger white"
								action="#{itemBean.selectForDelete(attachment)}"
								onclick="PF('deleteAttachmentDialogVar').show()"
								rendered="#{itemBean.item.bill != null}">
								<i class="fa fa-trash white" />
								<f:ajax />
							</h:commandLink>
						</p:column>

						<p:column id="attachmentName" headerText="Name"
							filterMatchMode="contains" filterBy="#{attachment.fileName}"
							sortBy="#{attachment.fileName}"
							styleClass="attachmentName-column" width="">
							<h:outputText value="#{attachment.fileName}"
								title="#{attachment.fileName}" />
						</p:column>

						<p:column id="attachmentSize" headerText="Size"
							sortBy="#{attachment.size}" style="text-align: center">
							<h:outputText value="#{attachment.sizeInMegaByte}"
								title="#{attachment.sizeInMegaByte}" />
						</p:column>

						<p:column id="description" headerText="Description"
							filterMatchMode="contains" filterBy="#{attachment.description}"
							sortBy="#{attachment.description}"
							styleClass="attachmentDescription-column">
							<h:inputText value="#{attachment.description}"
								styleClass="form-control" />
						</p:column>

						<p:column id="notes" headerText="Notes" filterMatchMode="contains"
							filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
							styleClass="attachmentNotes-column">
							<h:inputText value="#{attachment.notes}"
								styleClass="form-control" />
						</p:column>

						<p:column width="50">
							<h:commandLink action="#{itemBean.download(attachment)}"
								styleClass="btn btn-sm btn-primary">
								<i class="fa fa-download white" />
							</h:commandLink>

						</p:column>

					</p:dataTable>

				</div>
			</h:panelGroup>


			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{itemBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty itemBean.id}'>
								<h:link value="Cancel" outcome="view"
									styleClass="btn btn-warning">
									<f:param name="id" value='#{itemBean.id}' />
								</h:link>
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()"
									rendered="#{itemBean.item.bill != null}">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->
			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->
			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->

			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
			<h:outputScript library="pages" name="js/item.js" />

			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->
			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->
			<!-- /\/\/\/\/\/\/\/\/\/\/\/\/\/\\/\/\/\/\ -->
			<p:dialog id="deleteAttachmentDialog" draggable="false"
				closable="false" modal="true" height="50" width="330"
				resizable="false" widgetVar="deleteAttachmentDialogVar">

				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{itemBean.deleteAttachment()}"
					onclick="PF('deleteAttachmentDialogVar').hide()"
					styleClass="btn btn-sm btn-danger popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-sm btn-warning popup-buttons"
					onclick="PF('deleteAttachmentDialogVar').hide()">
					<f:ajax />
				</h:commandLink>
			</p:dialog>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{itemBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>