<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="page" value='#{itemBean.page}' />
		<f:event type="preRenderView" listener='#{itemBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Items" />

	<ui:define name="header">
		Item
	</ui:define>

	<ui:define name="subheader">
		Search Items
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:outputStylesheet name="css/selectOneMenu.css" />

		<h:form id="search">

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanExampleFactory" value="Factory:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanExampleFactory"
									value="#{itemBean.example.factory}" filter="true"
									filterMatchMode="contains" converter="#{factoryConverter}">
									<f:selectItem />
									<f:selectItems value="#{factoryBean.all}" var="factory"
										itemValue="#{factory}" itemLabel="#{factory.display()}" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanExampleItemState" value="State:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanExampleItemState"
									value="#{itemBean.example.itemState}" filter="true"
									filterMatchMode="contains">
									<f:selectItem />
									<f:selectItem itemLabel="Available" itemValue="Available" />
									<f:selectItem itemLabel="Not Available"
										itemValue="Not_Available" />
									<f:selectItem itemLabel="Sold" itemValue="Sold" />
									<f:selectItem itemLabel="Damaged" itemValue="Damaged" />
									<f:selectItem itemLabel="Under Maintenance"
										itemValue="Maintenance" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanExampleType" value="Type:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanExampleType"
									value="#{itemBean.example.types}" filter="true"
									filterMatchMode="contains">
									<f:selectItem />
									<f:selectItems value="#{itemBean.allTypes}" var="type"
										itemLabel="#{type}" itemValue="#{type}" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanExampleBarcode" value="Barcode:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleBarcode"
									value="#{itemBean.example.barcode}" styleClass="form-control" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanExampleLocation" value="Location:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleLocation"
									value="#{itemBean.example.stockLocation}"
									styleClass="form-control" />
							</div>
						</div>

					</div>
				</div>


				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{itemBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{itemBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<h:dataTable id="itemBeanPageItems" styleClass="data-table"
				value="#{itemBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Barcode" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemBarcode" value="#{_item.barcode}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Types" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemTypes" value="#{_item.types}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Actual Price" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemActualPrice" value="#{_item.actualPrice}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Selling Price" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemSellingPrice" value="#{_item.sellingPrice}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Discount Price" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDiscountPrice"
							value="#{_item.discountPrice}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{itemBean}' />
			</ui:include>


			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
		</h:form>

	</ui:define>

</ui:composition>
