<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{itemBean.id}'/>
		<f:event type="preRenderView" listener='#{itemBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Item"/>

	<ui:define name="header">
		Item
	</ui:define>

	<ui:define name="subheader">
		View existing Item
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="itemBeanItemBarcode" value="Barcode:"/>
			<h:outputText id="itemBeanItemBarcode" value="#{itemBean.item.barcode}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemTypes" value="Types:"/>
			<h:outputText id="itemBeanItemTypes" value="#{itemBean.item.types}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemActualPrice" value="Actual Price:"/>
			<h:outputText id="itemBeanItemActualPrice" value="#{itemBean.item.actualPrice}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemSellingPrice" value="Selling Price:"/>
			<h:outputText id="itemBeanItemSellingPrice" value="#{itemBean.item.sellingPrice}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemDiscountPrice" value="Discount Price:"/>
			<h:outputText id="itemBeanItemDiscountPrice" value="#{itemBean.item.discountPrice}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemRetailPrice" value="Retail Price:"/>
			<h:outputText id="itemBeanItemRetailPrice" value="#{itemBean.item.retailPrice}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemColor" value="Color:"/>
			<h:outputText id="itemBeanItemColor" value="#{itemBean.item.color}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemShape" value="Shape:"/>
			<h:outputText id="itemBeanItemShape" value="#{itemBean.item.shape}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemStockLocation" value="Stock Location:"/>
			<h:outputText id="itemBeanItemStockLocation" value="#{itemBean.item.stockLocation}"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemItemState" value="Item State:"/>
			<h:panelGrid columnClasses="label,component,required" columns="3" id="itemBeanItemItemState"/>
			<h:outputText/>
			<h:outputLabel for="itemBeanItemSellingCard" value="Selling Card:"/>
			<h:link id="itemBeanItemSellingCard" outcome="/sellingCard/view" rendered="#{!empty itemBean.item.sellingCard}" value="#{itemBean.item.sellingCard}">
				<f:param name="id" value="#{itemBean.item.sellingCard.id}"/>
			</h:link>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>