<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{buyerBean.id}' />
		<f:event type="preRenderView" listener='#{buyerBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Buyer" />

	<ui:define name="header">
		Buyer
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty buyerBean.id}'>
				Edit existing Buyer
			</c:when>
			<c:otherwise>
				Create a new Buyer
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />


		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error" />


			<div class="col-md-6">
				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="buyerBeanBuyerName" value="Name:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="buyerBeanBuyerName" styleClass="form-control"
									value="#{buyerBean.buyer.name}" />
								<h:message for="buyerBeanBuyerName" styleClass="error" />

							</div>
						</div>
					</div>


					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-3">
								<h:outputLabel styleClass="control-label"
									for="buyerBeanBuyerPhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-9">
								<h:inputText id="buyerBeanBuyerPhoneNumber"
									styleClass="form-control"
									value="#{buyerBean.buyer.phoneNumber}" />
								<h:message for="buyerBeanBuyerPhoneNumber" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<h:panelGroup rendered="#{!empty buyerBean.id}">

				<div class="col-md-12">
					<p:separator />
				</div>

				<div class="col-md-12">

					<p:dataTable id="itemsDataTable" widgetVar="itemVar" rows="5"
						paginator="true"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
						paginatorPosition="bottom" value="#{buyerBean.buyerItems}"
						var="item" rowKey="#{item.id}" rowIndexVar="index" editable="true"
						editMode="cell">

						<f:facet name="header">
							<h:outputText value="Items" styleClass="attachmentHeaderText" />
						</f:facet>

						<p:column id="index" width="50">
							<h:outputText value="#{index+1}"></h:outputText>
						</p:column>

						<p:column id="barcode" headerText="Barcode"
							filterMatchMode="contains" filterBy="#{item.barcode}"
							sortBy="#{item.barcode}" width="100">
							<h:outputText value="#{item.barcode}" title="#{item.barcode}" />
						</p:column>

						<p:column id="color" headerText="Barcode"
							filterMatchMode="contains" filterBy="#{item.color}"
							sortBy="#{item.color}" width="100">
							<h:outputText value="#{item.color}" title="#{item.color}" />
						</p:column>

						<p:column id="shape" headerText="Barcode"
							filterMatchMode="contains" filterBy="#{item.shape}"
							sortBy="#{item.shape}" width="100">
							<h:outputText value="#{item.shape}" title="#{item.shape}" />
						</p:column>

						<p:column id="location" headerText="Stock Location"
							filterMatchMode="contains" filterBy="#{item.stockLocation}"
							sortBy="#{item.stockLocation}" width="100">
							<h:outputText value="#{item.stockLocation}"
								title="#{item.stockLocation}" />
						</p:column>

						<p:column id="types" headerText="Types" filterMatchMode="contains"
							filterBy="#{item.types}" sortBy="#{item.types}" width="100">
							<h:outputText value="#{item.types}" title="#{item.types}" />
						</p:column>

						<p:column id="actualPrice" headerText="Actual Price"
							filterMatchMode="contains" filterBy="#{item.actualPrice}"
							sortBy="#{item.actualPrice}" width="100">
							<h:outputText value="#{item.actualPrice}"
								title="#{item.actualPrice}" />
						</p:column>

						<p:column id="sellingPrice" headerText="Selling Price"
							filterMatchMode="contains" filterBy="#{item.sellingPrice}"
							sortBy="#{item.sellingPrice}" width="100">
							<h:outputText value="#{item.sellingPrice}"
								title="#{item.sellingPrice}" />
						</p:column>

						<p:column id="discountPrice" headerText="DiscountPrice"
							filterMatchMode="contains" filterBy="#{item.discountPrice}"
							sortBy="#{item.discountPrice}" width="100">
							<h:outputText value="#{item.discountPrice}"
								title="#{item.discountPrice}" />
						</p:column>

						<p:column id="retailPrice" headerText="retailPrice"
							filterMatchMode="contains" filterBy="#{item.retailPrice}"
							sortBy="#{item.retailPrice}" width="100">
							<h:outputText value="#{item.retailPrice}"
								title="#{item.retailPrice}" />
						</p:column>


					</p:dataTable>

				</div>
			</h:panelGroup>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{buyerBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty buyerBean.id}'>
								<h:link value="Cancel" outcome="view"
									styleClass="btn btn-warning">
									<f:param name="id" value='#{buyerBean.id}' />
								</h:link>
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{buyerBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>
		</h:form>
	</ui:define>

</ui:composition>