<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{buyerBean.page}' />
		<f:event type="preRenderView" listener='#{buyerBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Buyers" />

	<ui:define name="header">
		Buyer
	</ui:define>

	<ui:define name="subheader">
		Search Buyers
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">


			<h:panelGroup styleClass="search">


				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="buyerBeanExampleName" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="buyerBeanExampleName" styleClass="form-control"
									value="#{buyerBean.example.name}" />
								<h:message for="buyerBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="buyerBeanExamplePhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="buyerBeanExamplePhoneNumber"
									styleClass="form-control"
									value="#{buyerBean.example.phoneNumber}" />
								<h:message for="buyerBeanExamplePhoneNumber" styleClass="error" />
							</div>
						</div>

					</div>
				</div>


				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{buyerBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{buyerBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<h:dataTable id="buyerBeanPageItems" styleClass="data-table"
				value="#{buyerBean.pageItems}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/buyer/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Phone Number" />
					</f:facet>
					<h:link outcome="/buyer/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPhoneNumber" value="#{_item.phoneNumber}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{buyerBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
