<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{buyerBean.id}'/>
		<f:event type="preRenderView" listener='#{buyerBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Buyer"/>

	<ui:define name="header">
		Buyer
	</ui:define>

	<ui:define name="subheader">
		View existing Buyer
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="buyerBeanBuyerName" value="Name:"/>
			<h:outputText id="buyerBeanBuyerName" value="#{buyerBean.buyer.name}"/>
			<h:outputText/>
			<h:outputLabel for="buyerBeanBuyerPhoneNumber" value="Phone Number:"/>
			<h:outputText id="buyerBeanBuyerPhoneNumber" value="#{buyerBean.buyer.phoneNumber}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>